
@{
    // The layout is set to null, indicating that this view does not use a layout file.
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <p>Name: Rameshwara Sarma</p>
    <p>Employee ID: 250</p>
</body>
</html>
